*{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
    background-color: aquamarine;
    margin: -10px -10px 40px -10px;
    padding: 20px;
}
main{
    min-width: 320px;
    max-width: 1000px;
    margin: auto;
}
main img{
    display: block;
    width: 600px;
    ;
    
}
main video{
    display: block;
    width: 500px;
}